<h1><%= @resume.title %>履歷</h1>


<% if current_user.id == @resume.user_id %>
<%= link_to "修改", edit_resume_path %>
<% end %>


<div data-controller="markdown-viewer">
<p><%= @resume.context %></p>
</div>